@keyframes letterFade {
  0%, 10% {
    opacity: 0;
    transform: translateY($letterIntroTranslate);
  }

  10%, 80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY($letterOutroTranslate);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 20000;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 20000;
  }
}

@keyframes box {
  0%, 20% {
    box-shadow: inset 0px 0px 0px $boxInitialSize #fff;
  }

  30%, 100% {
    width: $boxMaximumSize;
    height: $boxMaximumSize;
  }

  100% {
    box-shadow: inset 0px 0px 0px 0px #fff;
  }
}
