.box {
  width: $boxInitialSize;
  height: $boxInitialSize;
  box-shadow: inset 0px 0px 0px $boxInitialSize transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  .anim-start & {
    animation: box .6s;
  }
}
