@import "animation-variables";
@import "animation-keyframes";
@import "animation-letters";
@import "animation-outline";
@import "animation-box";
@import "animation-buttons";

.adapt-animation {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
}

.animation {
  width: 100%;
  max-width: $animationMaxWidth;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
