.adapt-animation {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.letters {
  $letters: &;
  display: flex;
  margin-bottom: $l-leading*3;

  &__item {
    $letterIntroTranslate: 70px;
    $letterOutroTranslate: -100px;
    $letterTransitionDelay: 0.07s;
    width: 100px;
    height: auto;
    opacity: 0;
    margin: 0 3px;
    transform: translateY($letterIntroTranslate);
    transition: opacity $ts-base, transform $ts-base;
    pointer-events: none;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transition-delay: $i * $letterTransitionDelay;
      }
    }

    #{$letters}.anim-intro & {
      opacity: 1;
      transform: translateY(0);
    }

    #{$letters}.anim-outro & {
      opacity: 0;
      transform: translateY($letterOutroTranslate);
      transition: opacity $ts-slow, transform $ts-slow;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transition-delay: $i * $letterTransitionDelay;
        }
      }
    }

    // letter D
    &:nth-child(2) {
      transform: translateY(calc(-20px + #{$letterIntroTranslate}));

      #{$letters}.anim-intro & {
        transform: translateY(-20px);
      }

      #{$letters}.anim-outro & {
        transform: translateY(calc(-20px + #{$letterOutroTranslate}));
      }
    }

    // letter P
    &:nth-child(4) {
      transform: translateY(calc(12px + #{$letterIntroTranslate}));

      #{$letters}.anim-intro & {
        transform: translateY(12px);
      }

      #{$letters}.anim-outro & {
        transform: translateY(calc(12px + #{$letterOutroTranslate}));
      }
    }

    // letter T
    &:nth-child(5) {
      width: 60px;
      transform: translateY(calc(-20px + #{$letterIntroTranslate}));

      #{$letters}.anim-intro & {
        transform: translateY(-20px);
      }

      #{$letters}.anim-outro & {
        transform: translateY(calc(-20px + #{$letterOutroTranslate}));
      }
    }
  }
}

.buttons {
  display: flex;
  align-items: center;

  .button {
    margin: 0 $l-leading*0.5;
    border: none;
    color: $c-black;
    background-color: $c-white;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color $ts-quick, color $ts-quick;
    outline: none;

    &:hover {
      background-color: #0DA8BF;
      color: $c-white;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: darken(#0DA8BF, 10%);
    }
  }
}
